/* COLOR START */
/* 003d66 */
.color1,.hover-color1:hover{color:white!important;background-color:#0072BF!important}
.text-color1,.hover-text-color1:hover{color:#0072BF!important}
.border-color1,.hover-border-color1:hover{border-color:#0072BF!important}
.color2,.hover-color2:hover{color:#fff!important;background-color:#d1ecf1!important}
.text-color2,.hover-text-color2:hover{color:#9ed2f4!important}
.border-color2,.hover-border-color2:hover{border-color:#9ed2f4!important}
.border-color3,.hover-border-color3:hover{border-color:black!important}
.color3,.hover-color3:hover{color:white!important;background-color:black!important}
.text-color3,.hover-text-color3:hover{color:black!important}
.color4,.hover-color4:hover{color:#000!important;background-color:#fff!important}
.text-color4,.hover-text-color4:hover{color:#fff!important}
.border-color4,.hover-border-color4:hover{border-color:#fff!important}
.color5,.hover-color5:hover{color:#fff;background-color:#9e9e9e!important}
.border-color5,.hover-border-color5:hover{border-color:#9e9e9e!important}
.text-color5,.hover-text-color5:hover{color:#757575!important}
.color6,.hover-color6:hover{color:#000!important;background-color:#f2f2f2!important}
.text-color6,.hover-text-color6:hover{color:#f2f2f2!important}
.border-color6,.hover-border-color6:hover{border-color:#f2f2f2!important}
.color7,.hover-color7:hover{color:#fff!important;background-color:#616161!important}
.text-color7,.hover-text-color7:hover{color:#3a3a3a!important}
.border-color7,.hover-border-color7:hover{border-color:#616161!important}
.color8,.hover-color8:hover{color:#fff!important;background-color:#d70a0a!important}
.text-color8,.hover-text-color8:hover{color:#d70a0a!important}
.border-color8,.hover-border-color8:hover{border-color:#d70a0a!important}
.color9,.hover-color9:hover{color:#fff!important;background-color:#71b971!important}
.text-color9,.hover-text-color9:hover{color:#71b971!important}
.border-color9,.hover-border-color9:hover{border-color:#71b971!important}
.color12,.hover-color12:hover{color:#000!important;background-color:#e0e7e9!important}
.text-color12,.hover-text-color12:hover{color:#e0e7e9!important}
.border-color12,.hover-border-color12:hover{border-color:#e0e7e9!important}
